/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); */

@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
        url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}